.lang-btn {
  background: #111;
  color: #d4af37;
  border: 1px solid #d4af37;
  border-radius: 999px;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 0.9rem;
}

.lang-btn:hover {
  background: #d4af37;
  color: #000;
}
